<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project NATT: Log in</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='css/LoginPage.css' rel='stylesheet' type='text/css'/>
    
    
</head>
<body>
	<div class="container topbar" style=""></div>
		<img class="image" src="images/traffic.png" style="width: 30%; margin-left: 35%; margin-top: 10%;"></img>
		<div class="text-body">
			<h2>Project NATT</h2>
			<div class="description" style="text-align:center; background-color:black;">
			<p>Project Natt is a new app that allows users to be rewarded for not using your phone while driving. It's simple, turn on drive mode in the app
			and gather points to use on rewards such as gift cards. Drive mode will shut off most functionality on your phone to ensure that, while you are gaining
			points, you are also being a safe driver. Reward yourself for being a safe driver today, and sign up here!</p>
		</div>
		</div>
		<div class="buttons">
			<div class="loginbut btn">Log In</div>
			<div class="signupbut btn">Sign Up</div>
		</div>
		
</body>
</html>