<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project NATT: Log in</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='css/device.css' rel='stylesheet' type='text/css'/>
    
</head>
<body>
	<div class="container topbar" style=""></div>
		<img class="image" src="images/traffic.png" style="width: 30%; margin-left: 35%; margin-top: 10%;"></img>
		<div class="text-body">
			<h2>Project NATT</h2>
			<div class="description" style="text-align:center; background-color:black;">
			<p>Project Natt is a new app that allows users to be rewarded for not using your phone while driving. It's simple, turn on drive mode in the app
			and gather points to use on rewards such as gift cards. Drive mode will shut off most functionality on your phone to ensure that, while you are gaining
			points, you are also being a safe driver. Reward yourself for being a safe driver today, and sign up here!</p>
		</div>
		</div>
		<div class="buttons">
	 <form action="#" th:action="@{/deviceDetection}" method="post"> 
	 	<input style="width: 100%;
	background-color: cornflowerblue;
	padding-bottom: 2%;
	padding-top: 2%;
	font-size: 32px;
	border-radius: 0px" 
	type="submit" value="Sign Up" class="signupbut btn"/>
			</form>
				 <form action="#" th:action="@{/deviceDetection/login}" method="post"> 
			<input style="	
	background-color: green;
	width: 100%;
	padding-bottom: 2%;
	padding-top: 2%;
	font-size: 32px;
	border-radius: 0px;" 
	type="submit" value="Log In" class="loginbut btn"/>
			</form>
		</div>
</body>
</html>