<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project NATT: Log in</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='css/mainPage.css' rel='stylesheet' type='text/css'/>
    
</head>
<body>
	<div class="navbar topbar">
		<p class="hello" th:text="'Hello, ' + ${user.firstName} + '!'"/>
		<ul class="navbar-right"> 
			<li><p class="points" th:text="'Points:&nbsp;' + ${user.pointsForUser.totalPoints}"/></li>
		</ul>
	</div>
</body>
</html>