body {
	background-color: white;
}

.text-body {
	color: white;
	font-size: 32px;
	text-align: center;
}

.submitbut {
	background-color: cornflowerblue;
	font-size: 32px;
	border-radius: 15px;
	padding-left: 52.5px;
	padding-right: 52.5px;
}

.resetbut {
	background-color: green;
	font-size: 32px;
	border-radius: 15px;
	padding-left: 52.5px;
	padding-right: 52.5px;
}

.topbar {
	width: 100%; 
	margin-bottom: 0; 
	padding-bottom: 7%;
	background-color: cornflowerblue;
}

