@font-face {
    /* Antenna Bold */
    font-family: Antenna;
    src: url("../webCore/assets/fonts/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-2.eot");
    src: local('@'), url("../webCore/assets/fonts/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-2.eot") format('embedded-opentype'),
    url("../webCore/assets/fonts/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-3.woff") format('woff'),
    url("../webCore/assets/fonts/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-1.ttf") format('truetype'),
    url("../webCore/assets/fonts/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-4.svg#WebSymbolsRegular") format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    /* Antenna Regular */
    font-family: Antenna;
    src: url("../webCore/assets/fonts/Antenna-Regular/a249ec5c-51a0-4581-a866-722ded577e7d-2.eot");
    src: local('@'), url("../webCore/assets/fonts/Antenna-Regular/a249ec5c-51a0-4581-a866-722ded577e7d-2.eot") format('embedded-opentype'),
    url("../webCore/assets/fonts/Antenna-Regular/a249ec5c-51a0-4581-a866-722ded577e7d-3.woff") format('woff'),
    url("../webCore/assets/fonts/Antenna-Regular/a249ec5c-51a0-4581-a866-722ded577e7d-1.ttf") format('truetype'),
    url("../webCore/assets/fonts/Antenna-Regular/a249ec5c-51a0-4581-a866-722ded577e7d-4.svg#WebSymbolsRegular") format('svg');
    font-style: normal;
    font-weight: 400;
}

@media screen {
	.topbar {
		width: 100%;
	}
	.signupbut {
		width: 100%;
	}
}

.paragraphs > p {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Antenna;
    background-color: black;
    
}

label {
	display: inline-flex;
	font-weight: 700;
    width:200px;
    margin-right:30px;
    text-align:right;
}

.forms {
	display: block;
	text-align: center;
	margin: auto;
}


#brand {
    width: 20%;
    margin-left: 40%;
}


.topbar {
    list-style-type: none;
    padding: .5%;
    overflow: hidden;
    background-color: #29ABE2;
}

#sub {
	background-color: #29ABE2;
	border: 0;
	box-shadow: 2px 3px 2px 0px rgba(4, 4, 4, 0.3);
}

#res {
	background-color: #708090;
	border: 0;
	box-shadow: 2px 3px 2px 0px rgba(4, 4, 4, 0.3);
}

.termsBody {
    padding: 20%;
    
}