@CHARSET "ISO-8859-1";

.topbar {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%; 
	margin-bottom: 0; 
	background-color: cornflowerblue;

}

.hello {
	    font-size: 36px;
  		color: yellow;
  		margin-top: 1%;
    	margin-left: 1%;
    	width: 300px;
}

.points {
	    font-size: 36px;
  		color: yellow;
  		margin-top: 1%;
    	margin-left: 1%;
}

.fitness {
	
}